/**********************************/
/*           GENERAL              */
/**********************************/

body
{
    background: #80592f;
    color: #ddd;
    font-family: 'Lato', 'Verdana', sans-serif;
    font-size: 1.6em;
}


/***********************************/
/*          TEXT STYLES            */
/***********************************/

h1, h2, h3, h4 { color: #ddd; }
h2 { font-weight: 300; }
h3, h4 { font-weight: 700; }

.punchline { font-size: 2em; }
.download-pdf { font-size: 0.5em; color: #ccc; }

.left-aligned { text-align: left; }
.right-aligned { text-align: right; }
.centered { text-align: center; }

.inverse { color: #323232; }
.uppercased { text-transform: uppercase; }
.emphased { font-weight: 900; }

a, a:visited
{
    color: #b21515;
    font-weight: bold;
}

a:hover, a:active
{
    color: #d31313;
    text-decoration: none;
}


/**********************************/
/*            NAVBAR              */
/**********************************/

nav
{
    transition-property: height, line-height, border-bottom, background-color, color;
    transition-duration: 0.5s;
    background: rgba(50, 50, 50, 0);
    background: url("../images/bg_blurry2.jpg") fixed;
    background-size: cover;
}

.navbar-inverse
{
    background: rgba(50, 50, 50, 0);
    border-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-link { color: #b21515; }

.nav-reduced
{
    background: rgba(50, 50, 50, 1);
    border-bottom: 1px solid #555;
}
.nav-reduced.navbar-inverse .navbar-nav > li > a,
.nav-reduced.navbar-inverse .navbar-link { color: #999; }


/***********************************/
/*            SECTIONS             */
/***********************************/

section { padding: 5em; }


#abstract p { margin-top: 5em; }
#abstract
{
    padding-top: 200px;
    background: url("../images/bg_blurry2.jpg") fixed;
    background-size: cover;
}

#abstract h1
{
    font-weight: bold;
    font-size: 7em;
    text-align: center;
    text-shadow: 3px 4px 0px #ddd, 9px 12px 0px #888;
}

#projects
{
    background: #ddd;
    color: #323232;
}

#more
{
    background: #222;
    padding: 5em;
}

#more i { font-size: 5em !important; }
#more ul li { list-style: none; }
#more a, a:visited, a:hover { color: #A9871B; }

#more .row
{
    margin-top: 30px;
    margin-bottom: 60px;
}

#curriculum > div.container > div.row:first-of-type { margin-bottom: 50px; }


/************************************/
/*            CURRICULUM            */
/************************************/

.timeline-wrapper
{
    width: 100%;
    position: relative;
    height: 100px;
}

.timeline
{
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    line-height: 100px;
}

.middle-wrapper
{
    width: 100%;
    height: 100px;
    display: table;
    line-height: 120%;
}

.top-50
{
    display: table-cell;
    vertical-align: middle;
}

.timeline span.big
{
    font-size: 1.3em;
}

.overlay
{
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 2;
    text-align: center;
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 100px;
}

.overlay span
{
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 10px;
}

.overlay-bottom { background: url("../images/timeline-arrow-bottom.png") center bottom no-repeat; }
.overlay-top { background: url("../images/timeline-arrow-top.png") center top no-repeat; }

.timeline-leftpart
{
    border-right: 10px solid #ccc;
    left: 0;
    right: 50%;
    text-align: right;
    padding-right: 75px;
}

.timeline-rightpart
{
    border-left: 10px solid #ccc;
    left: 50%;
    right: 100%;
    text-align: left;
    padding-left: 75px;
}


/***********************************/
/*         VARIOUS WORKS           */
/***********************************/

.various-work-box { padding: 2em; }
.various-work-box .image-box { width: 10%; }
.various-work-box.photography .text-box { padding-left: 1em; }
.various-work-box.personnal-projects .text-box { padding-right: 1em; }
.various-work-box h3 { margin: 0px 0px 10px 0px; }

.various-work-box img
{
    border-color: #333;
    background-color: #333;
}

.various-work-box .text-box
{
    display: table-cell;
    vertical-align: middle;
}

.various-work-box .vertical-wrapper
{
    display: table;
    height: 110px;
    width: 90%;
}

.visible-md.photography { text-align: left; }
.visible-md.personnal-projects { text-align: right; }

.visible-xs.various-work-box { text-align: justify }
.visible-xs.various-work-box h3 { text-align: center}
.visible-xs.various-work-box .image-caption { text-align: center; margin-bottom: 1em; }


/*************************************/
/*  RESPONSIVE XS DEVICES (<= 768px) */
/*************************************/

@media screen and (max-width: 768px)
{
    #abstract h1 { font-size: 3em; }
    .punchline { font-size: 1em; font-weight: bold; }
    .download-pdf { margin-top: 1em; }

    nav, .navbar-inverse { background: rgba(55, 55, 55, 1); }
    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-link { color: #999; }

    section { padding: 0.5em; }

    #resume ul li { margin-bottom: 0.7em; }

    #cv-timeline-sd .row { margin-bottom: 2em; }

    #more .col-sm-6, .col-sm-4 { margin-bottom: 60px; }
    #more .row { margin-bottom: 0; }
}


/*************************************/
/*  RESPONSIVE XS DEVICES (<= 768px) */
/*************************************/
@media (min-width: 768px)
{
    .container { width: 670px; }
    .navbar-nav { float: right; }
}


/*************************************/
/*  RESPONSIVE MD DEVICES (>= 992px) */
/*************************************/
@media (min-width: 992px)
{
    .container { width: 890px }
}


/**************************************/
/*  RESPONSIVE LG DEVICES (>= 1200px) */
/**************************************/
@media (min-width: 1200px)
{
    .container { width: 1100px; }
}